<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>QR Code generator</title>
    <meta property="og:description" content="qrcode generator made with bootstrap and node.js">
    <meta property="og:image" content="assets/img/512px.png">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/512px.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/512px.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/512px.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/512px.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/512px.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css" type='text/css' >


    <style>
        .highlight-blue {
  color: #fff;
  background-color: #1e6add;
  padding: 50px 0;
}

.highlight-blue p {
  color: #c4d5ef;
  line-height: 1.5;
}

.highlight-blue h2 {
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-blue .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-blue .buttons {
  text-align: center;
}

.highlight-blue .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.highlight-blue .buttons .btn:hover {
  opacity: 1;
}

.highlight-blue .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-blue .buttons .btn-primary, .highlight-blue .buttons .btn-primary:active {
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 6px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 14px 24px;
  background: transparent;
  transition: background-color 0.25s;
}
.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  /*background: url(meeting.jpg);*/
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: #eb3b60;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
    </style>
</head>

<body>
    <section class="register-photo">
        <div class="form-container">
            <div class="d-none d-sm-grid image-holder" style="min-width: 0px;">
                <section class="highlight-blue">
                    <div class="container">
                        <div class="intro"><i class="fas fa-qrcode d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center"></i>
                            <h2 class="text-center"><strong>Create</strong> an QR Code.</h2>
                        </div>
                    </div>
                </section>
            </div>
            <form class="form-container" method="post" action="/scan">
                <div class="mb-3"><input class="form-control" type="url" id="text" name="text" placeholder="Enter URL"></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-blue);">Sumbit</button></div>
            </form>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>